extends layout

block content
  div(class='notificationsContainer')
    h1 #{reviews.length} Stored Reviews
    table
        tbody
            td(class='edit') Edit
            td Name
            td Place Type
            td Stars
            td(class='edit')
        each review in reviews
          tr(id='#{review._id}')
            td(class='edit')
                a(href='/reviews/#{review._id}') +
            td= review.name
            td= review.placeType
            <td>
            - for (var x = 0; x < review.stars; x++)
                img(src="/assets/star.gif")
            </td>
            td(class='edit')
                img(src='/assets/delete.png', onClick='deleteReview("#{review._id}")')

  div(class='notificationsContainer')
    h2 Add a new Review
    form(method='POST' action='/reviews')
        span(style='display:inline-block;width:100px;') Name:
        input(id='name', type='text')
        br
        span(style='display:inline-block;width:100px;') PlaceType:
        input(id='placeType', type='text')
        br
        span(style='display:inline-block;width:100px;') Stars:
        input(id='stars', type='text')
        br
        input(type='submit', value='SAVE')